#mainImg{
  width: 500px;
  height: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
}
body {
  text-align: center;
  background-color: #ccf2ff;
}

#myCarousel {
    width: 80%;
    margin: auto;
}

/* Make all carousel images same size */
#myCarousel .item img {
    width: 100%;
    height: 500px;      /* same height */
    object-fit: cover;  /* fills evenly */
    margin: auto;
}

/* Center captions */
.carousel-caption {
    left: 10%;
    right: 10%;
    bottom: 20px;
}

/* Optional: center whole carousel */
#gadgets {
    text-align: center;
}
